In [8]:
import pandas as pd
import numpy as np

In [9]:
pd.__version__

'1.1.3'

In [10]:
np.__version__

'1.19.2'

Comments

In [3]:
2 + 2 # Use hashtag to comment out any line of code. Comments will not be run as code and is used to explain code. Only what comes after # is commented.

4

Basic Data Types

Integers are numbers.  
Floating numbers are numbers with a fractional component.  
Strings are a collection of texts. Strings are enclosed within double quotes. Examples: "This is a string", "3", "" (empty string).  
Boolean: Can only have two values; True or False. Useful or logic operators. E.g. 5 < 7 will have the output of True.   
None: Special data type used to represent nothinginess, or the absense of a value.

Operators

Operators are a symbol that performs some kind of operation on one or more objects. The objects that come before or after operators are called operands.

In [5]:
5 + 3 # In this case, + is the operator whereas, 5 and 3 are the operands.

8

In [6]:
"Demon " + "Slayer" # Operators can also be used with strings, this process is called concatenation.

'Demon Slayer'

In [11]:
"One Piece " * 3 # Strings can be multiplied with integers. The string will be repeated 3 times.

'One Piece One Piece One Piece '

In [24]:
# Regular division returns a floating point number. 
14 / 8

1.75

In [25]:
# Floor division chops off the end of the float without rounding. 
14 // 8

1

In [26]:
# The modulo operator finds the remainder. 
14 % 6

2

In [23]:
# Equality operator: Checks whether two objects is equal.
1 == 2

False

In [27]:
"Hello" == "hello" # Strings can also be checked for equality. Here, case sensitivity matters.

False

In [30]:
# Inequality operator --> !=
5 != 2 # Is 5 not equal to 2, this is True.

True

In [31]:
# Logical operators: --> <, >, <=, >= etc.
5 >= 3

True

Variables

Variable is a name you grant to an object in your prgram to provide context to what they mean and represent in our program. For example, we can declare the variable "age" and assign my age to this variable. Variables are subject to change.

In [35]:
age = 25

In [37]:
age # Now, age is substituted as 25 which we have assigned in the cell above.

25

In [38]:
age + 5 # age is now assigned as 25 and is no onger just text.

30

In [43]:
price = 19.99
first_name = "Leon" #  snake_case. Standard syntax in Python to separate two words with an underscore. 
profession = "Future Data Scientist"
is_handsome = True

In [46]:
age

25

In [47]:
age = age + 5 # Focus on the RHS of the equal sign first. The variable is being reassigned to the RHS.

In [48]:
age

30

Built-in Functions

A function is a procedure, a sequence of steps. It's similar to a recipe, a sequence of instructions to get a consistent outcome. There are built-in functions which are predefined but there are also custom functions.

In [51]:
# len() : The length function counts number of characters in the string provided in the argument. 
len("How many characters do we have here?") # There are 36 characters.

36

In [53]:
# str() : The string function accepts an argument and converts to string type. 
str(3.14) # Returns 3.14 as a string --> "3.14"

'3.14'

In [55]:
# int() : Integer function accepts and argument and converts to integer type..
int("10") # The argument "10" which is a string, is converted to an integer.

10

In [56]:
# float() : Float converts arguments to a floating point number.
float("9.123")

9.123

In [58]:
# type() : Type function accepts any object and returns the type of the object, tells us what type of data structure we are dealing with. 
type(5.2)

float

In [60]:
type(10) == type(15) # Is the data type of 10 equal to the data type of 15.

True

In [62]:
type(10) == type("10") # LHS is an integer whereas the RHS is a string.

False

Custom Functions

Custom functions allow us to perform repetitive operations much more efficiently. For example, we may be required to convert Celsius to Fahrenheit repeatedly, where we will have to perform a set of repetitive calculations, this is a good candidate to create a custom function for. We can create a custom function which performs a set a consistent calculations on the argument to convert from celsius to fahrenheit or vice versa.

In [76]:
# Declare a function that accepts a temperature in Celsius and returns it in Fahrenheit. 

def convert_to_fahrenheit(celsius_temp = 0): 
    product = celsius_temp * 1.8 
    return product + 32

# parameters are entered within the parentheses.
# variables defined in the nested body of a function will only exists as long as the function is running. 
# default argument: an argument that python will fall back to in case no explicit argument is given when invoked. In our case, we have set the default value to 0.

In [77]:
convert_to_fahrenheit(0)

32.0

In [78]:
convert_to_fahrenheit(celsius_temp = 17) # You can state explicitly what the parameter is, this is more useful when there are multiple parameters.

62.6

In [79]:
# Tab completion: Special feature in python, whenever you start typing something, Jupyter notebook will look for all of the names which start with what you have typed.
convert_to_fahrenheit(100)

212.0

In [80]:
convert_to_fahrenheit()

32.0

String Methods

Method: A function that belongs to a specific object and is directly called upon an object. Thesefunctionalities are baked into the object so you don't have to define any of them.

In [91]:
profession = "Developer"

In [85]:
profession.upper() # Type out the string (or variable) followed by "." and press tab. A list of method will appear. These are associated (or functionalities) that belong to the string. They
                                  #are instrinsically part of a string.

'DEVELOPER'

In [87]:
profession.swapcase()

'dEVELOPER'

Strings are immutable objects. Whenever we call a method on the string, we are not modifying the original string, instead it creates a new string.

In [93]:
profession #  Even after calling the previous methods on the string, the string remains unchanged.

'Developer'

In [94]:
"once upon a time".title() # the title() method capitalizes the first letter of every word.

'Once Upon A Time'

In [95]:
"once upon a time".capitalize() # Targets the very first letter.

'Once upon a time'

In [96]:
profession = "        Developer                   "

In [99]:
profession.lstrip() # Strips all white space on the LHS of the string.

'Developer                   '

In [102]:
profession.rstrip() # Strips all the white space on the RHS of the string.

'        Developer'

In [104]:
profession.strip() # Strips all the white space on both sides of the string.

'Developer'

In [109]:
profession.replace("e", "r") # First parameter: what to look for. / Second parameter: what to replace it with.

'        Drvrloprr                   '

In [111]:
profession.strip().replace("e", "r") # We can use multiple methods, called method chain.

'Drvrloprr'

In [112]:
animal = "rhinoceros"

In [114]:
animal.startswith("rhino") # Check whether the string starts with the argument provided.

True

In [116]:
animal.endswith("zzz")

False

In [117]:
# in : Check whether the object on the left is in the object on the right. Checks for general inclusion. 
"r" in animal # Check whether "r" is included in the string. It will return True as long as it occurs somewhere.

True

In [119]:
# not in : opposite of in. Returns True if the object on the left is not in the object on the right. 
"z" not in "animal?"

True

Lists

A mutable (capable of change) data structure that holds an ordered collection of elements.

In [120]:
[ 1, 2, 3, 4] # List of four objects in order. This is called an array and objects are usually of the same data type.

[1, 2, 3, 4]

In [121]:
[ True, False, False, True ]

[True, False, False, True]

In [123]:
party_attendees = [ "Michael", "Freddy", "Jason" ] # Can assign variables to lists.

In [124]:
party_attendees

['Michael', 'Freddy', 'Jason']

In [126]:
[] # Empty list.

[]

In [128]:
# len() : Length tells us the number of objects in the list.
len(party_attendees) # There are 3 objects in the list.

3

In [129]:
type(party_attendees)

list

In [137]:
presidents = [ "Washington", "Jefferson" ]

In [138]:
# append() : accepts argument and this argument is the new element added to the end of the list. 
presidents.append("Obama")

In [139]:
presidents

['Washington', 'Jefferson', 'Obama']

In [140]:
# pop() : removes the last element of the list and returns the element removed. 
presidents.pop()

'Obama'

In [141]:
presidents

['Washington', 'Jefferson']

In [143]:
# remove() : accepts an argument and represents the element you want to remove. Removes only the first occurrence of that argument.  
presidents.remove("Washington")

In [144]:
presidents

['Jefferson']

In [145]:
# in and not in : Can also be used to check for inclusion (or exclusion) of an element in a list. 
"Trump" in presidents

False

In [146]:
"Jefferson" in presidents

True

Index Positions and Slicing

Lists and strings have many similar aspects. They both keep their respective elements in order. Every element is assigned an order in line, the index position starts from 0.

In [3]:
spiderman = "Spiderman" 
# 0 1 2 3 4 5 6 7 8
# S p i d e r m a n

In [5]:
spiderman[3] # Referencing the index position 3 in spiderman.

'd'

In [7]:
spiderman[-1] # References the first character from the end. From the end, we start at 1 rather than 0.

'n'

In [9]:
superheroes = [ "Batman", "Superman", "Wolverine", " Ironman", "Arnold Schwarznegger" ]

In [10]:
len(superheroes)

5

In [11]:
superheroes[1]

'Superman'

In [13]:
superheroes[ 1:3 ] # Pulls out multiple elements in the string. The first element is inclusive, second is exclusive, so it pulls from 1 to 3 (in other words, 1 and 2).

['Superman', 'Wolverine']

In [15]:
superheroes[1:5]

['Superman', 'Wolverine', ' Ironman', 'Arnold Schwarznegger']

In [17]:
superheroes[ :2] # We can omit 0, if we are starting from the beginning of the list. This is equal to superheroes[ 0:2 ].

['Batman', 'Superman']

In [20]:
superheroes[ 1: ] # Pulls elements starting from 1 to the end. (including)

['Superman', 'Wolverine', ' Ironman', 'Arnold Schwarznegger']

Dictionaries

An unordered and mutable collection of key-value pairs. Useful for creating associations between two different pieces of data. For example, restaurant menus have the menu item and the item price, there is an association between two different pieces of data. Dictionaries are useful for this model. More examples: Player and their number, country and their capital etc. 

Key-value pair: The key serves as a unique identifier for a given value. We can use the key to get the specific value associated with it. Keys must be unique whereas the values can have duplicates. Key-vaue pairs cannot co-exist without each other.

In [33]:
menu = {
    "Filet Mignon": 29.99,
    "Big Mac": 3.99,
    "Pizza": 0.99,
    "Salmon": 29.99
}

In [34]:
len(menu) # The length is the number of key-value pairs in the dictionary.

4

In [24]:
menu[ "Big Mac"] # Returns the value associated with that key.

3.99

In [25]:
# Add a key-value pair.
menu["Burrito"] = 13.99

In [26]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 3.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [28]:
# Overwrite previously defined key-value pairs. 
menu["Big Mac"] = 5.99

In [29]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 5.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [31]:
menu.pop("Filet Mignon")# Removes the key-value pair with this key and returns the value associated with this key.

29.99

In [32]:
menu

{'Big Mac': 5.99, 'Pizza': 0.99, 'Salmon': 29.99, 'Burrito': 13.99}

In [35]:
# Checking for existence of a key

True

In [36]:
"Hot Pockets" not in menu

True

In [41]:
# Checking for existence of a value
menu.values() # Returns list of values in menu dictionary.

dict_values([29.99, 3.99, 0.99, 29.99])

In [42]:
5.99 in menu # Checks if 5.99 is in the key of the menu dictionary.

False

In [43]:
5.99 in menu.values() # Checks if 5.99 is in the values of the menu dictionary.

False