The pandas option system can be used to customize behaviours such as the display options that we see in our Jupyter notebook. There are two ways to change settings in pandas; with the dot syntax or with specific methods.

In [2]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__
np.__version__

'1.19.2'

Changing Options with Attributes ad Dot Syntax

In [17]:
# Generate a random array (i.e. an array of random values) using numpy, then feed that to our DataFrame constructor method to 
# create a pandas DataFrame. 

data = np.random.randint(0, 100, [1000, 50]) 
data

# Within the np library, we reference the random module, and within that module, there is a collection of methods. 
# randint(low, high, size) : generates random integers according to the lower and upper bound and also the array size. 
# Note: A new dataset will be generated every time the code is run. 
# data.shape

df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,15,70,34,92,4,53,77,26,81,61,...,57,11,5,85,83,53,4,75,22,73
999,89,18,89,21,64,36,54,76,19,81,...,81,7,89,66,40,76,44,30,7,76

In [21]:
pd.options.display.max_rows 
# Tells us maximum number of rows of the DataFrame shown in the display. 

pd.options.display.max_rows = 17
# Sets the maximum number of rows to be displayed as 17.

17

In [26]:
pd.options.display.max_columns
# Tells us maximum number of  columns of the DataFrame shown in the display. 

pd.options.display.max_columns = 5
# Sets the maximum number of  columns to be displayed as 5.

df

     0   1   ...  48  49
0    94  19  ...  36  33
1    62  85  ...  25  76
..   ..  ..  ...  ..  ..
998  15  70  ...  22  73
999  89  18  ...   7  76

[1000 rows x 50 columns]

Changing pandas Options with Methods

In this lesson, we explore alternate syntax to change pandas options. 

- get_option()
- set_option() 
- reset_option()
- describe_option()

In [27]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

     0   1   ...  48  49
998  92  96  ...  27  54
999  42  39  ...  22  98

[2 rows x 50 columns]

In [29]:
# get_option("option_name") : the single argument is the options that you want to access. 

pd.get_option("max_rows") # checks the option settings for max_rows. 
# This is equivalent to --> pd.options.display.max_rows
# They work hand in hand with each other, it changes and displays the same settings. 

pd.get_option("max_columns") # checkts the option settings for max_columns. 
# This is equivalent to --> pd.options.display.max_columns

5

In [30]:
# set_option("option_name", value): allows us to modify the option settings. 
# "option_name": input string of the name of the option you want to modify. 
# value: provide value you want to set the option to. 

pd.set_option("max_rows", 10) # set the max rows to value of 10. 

# This is the same as --> pd.options.display.max_columns = 10

In [39]:
# The advantage of get_option() and set_option() is that they are built to utilize regular expressions. This means that they try to 
# recognize expressions even if they are not entirely correct. 

pd.get_option("max_columns")
pd.get_option("max_COLUMN")
# These expressions will have the same result.

5

In [41]:
# reset_option("option_name"): resets the option to it's default settings. 
# "option_name": name of the option you want to reset to it's default. 

pd.reset_option("max_columns") # resets max_columns to its default setting which is 20. 
pd.get_option("max_columns")

20

In [44]:
# describe_option("optiom_name"): describes briefly what the option does in the context of pandas. 

pd.describe_option("max_rows")
# Returns a brief description and some details about the max_rows option. Also returns the default and current value for this option.

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 10]

The precision Option

Alters the number of digits that appears after the decimal in the floating point number. This option does not change the number, but it hides the complexity by framing it as a simpler floating point number and only alters what is displayed.

In [52]:
df = pd.DataFrame(np.random.randn(5, 5))
df

# randn(d0, d1, ..., dn): generates floating points from the normal distribution. The argumens are the values for the correspinding
# dimensions. If no value is provided, then a single floating point number is produced. 

# First we created a 5x5 array of floating point numbers, then we converted it to a DataFrame.

          0         1         2         3         4
0  0.828613 -0.198043 -0.590951 -1.032256  0.900187
1  0.532599  1.901095 -0.048217 -1.022224 -1.288187
2 -1.088468  0.218194  1.110845  0.825694  0.167637
3  0.014677  0.578873  1.581752 -0.676891 -0.733021
4  0.538106  0.332411 -0.122080  0.177585 -1.718543

In [57]:
# By default, pandas shows us the floating point numbers to 6 d.p. 
# We can change the number of d.p. it shows up as without modifying the actual number in any way. For example, when we export. 
# the compexity of the floating point numbers will be preserved to the original number. Great way to provide a simpler temporary
# view of the data. 

pd.get_option("precision") # returns the number of d.p. of the floating point numbers currently.
pd.set_option("precision", 2) # Rounds the floating point number to 2 d.p. 

df

      0     1     2     3     4
0  0.83 -0.20 -0.59 -1.03  0.90
1  0.53  1.90 -0.05 -1.02 -1.29
2 -1.09  0.22  1.11  0.83  0.17
3  0.01  0.58  1.58 -0.68 -0.73
4  0.54  0.33 -0.12  0.18 -1.72

In [59]:
pd.reset_option("precision")
pd.get_option("precision")

# The original number has been preserved.

6